/*
font-family: 'Inter', sans-serif;

font-family: 'Montserrat', sans-serif;

font-family: 'Open Sans', sans-serif;

font-family: 'Rubik', sans-serif;
*/
@import url(null.css);



html {
  width: 100%;
  height: 604%;
}
body {
  width:100%;
  height:100%;
  background: linear-gradient(222.26deg, #3B1D60 1.22%, #040D3E 106.28%);
}
.main-container {
  width: 76%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 8vh;
}
/*________________________________FONTS_____________________________________*/
p {
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #8476AA;
  font-weight: 600;
}

#section-2 ul p {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: #8476AA;
  font-weight: 600;
}
/* _________________________________HEADER__________________________________ */

header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  flex-grow:1;
}
nav a {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  line-height: 20px;
  color: #B5B5B5;
  letter-spacing: 2px;
}
nav li{
  margin-left:10px;
  margin-right: 10px;
}
header button {
  width: 112px;
  height: 36px;
  margin-left: 20px;
}
button {
  border-radius: 3px;
  font-family: 'Rubik', sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
}

#sign-in-button {
  background-color: transparent;
  border: solid 1px #F2994A;
  color: #F2994A;
}
#sign-up-button {
  background-color: #F2994A;
  color: white;
}
header ul{
  display:flex;
}
.logo {
  margin-right: 30px;
}

/* _________________________FIRST___SECTION______________________________*/

#running-man {
  position: absolute;
  top: 24vh;
  right: 0;
  z-index: -1;
  max-width: 50vw;
}
.first-section-info {
  padding-top: 15vh;
  width: 49%;
  max-width: 530px;
}
h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 50px;
  color: #99EFD0;
}
p {
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #8476AA;
  font-weight: 600;
}
#section-1 button {
  margin-top: 40px;
  margin-right: 20px;
  width: 157px;
  height: 46px;
}
#demo-button {
  background-color: transparent;
  border: solid 1px #F2994A;
  color: #F2994A;
}
#learn-more-button {
  background-color: #F2994A;
  color: white;
}
.video-preview {
  margin-top: 5vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.video-preview p {
    margin-top: 0;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #8476AA;
    font-weight: 400;
}
.video-preview a {
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: #6D6D78;
  font-weight: 400;
}
iframe {
  background-image: url("images/video-preview.png");
}
.video-preview-description {
  margin-left: 20px;
}
.sponsors {
  height: 25vh;
}
.sponsors ul {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
/*_________________SECOND_SECTION______________________*/
.centered {
  text-align: center;
}

#section-2 ul p {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: #8476AA;
  font-weight: 600;
}

#section-2 ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #99EFD0;
  font-weight: 700;
}

#section-2 li {
  max-width: 32%;
  margin-top: 5vh;
}
.feature-item {
  display: flex;
  flex-flow: row nowrap;
}
.icon-column {
  padding-right: 20px;
}
/*________________THIRD_SECTION_________________________*/
#section-3 {
  height: 78vh;
  display: flex;
  flex-flow: row nowrap;
  align-items:center;
  justify-content: space-around;
}
.section-3-info {
  width: 49%;
  max-width: 530px;
}
.orange {
  color: #F2994A;
}
