/*
font-family: 'Inter', sans-serif;

font-family: 'Montserrat', sans-serif;

font-family: 'Open Sans', sans-serif;

font-family: 'Rubik', sans-serif;
*/
@import url(null.css);



html {
  width: 100%;
  overflow: visible;
}
body {
  width:100%;
  position: relative;
}
.wrapper {
  position: absolute;
  top: 0;
  background: linear-gradient(220.26deg, #3B1D60 1.22%, #040D3E 106.28%);
  z-index: -1;
}
.main-container {
  width: 76%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 8vh;
}
/*__________________________COMMON_STYLES_____________________________________*/

.text {
  font-family: 'Montserrat', sans-serif;
  color: #8476AA;
  font-weight: 600;
}

.title {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  color: #99EFD0;
}
.title-centered {
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
}
.text-centered {
  width: 35vw;
  margin-left: auto;
  margin-right: auto;
}
.orange {
  color: #F2994A;
}
button {
  border-radius: 3px;
  font-family: 'Rubik', sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
}

.button_orange {
  background-color: #F2994A;
  color: white;
}

.button_transparent {
  background-color: transparent;
  border: solid 1px #F2994A;
  color: #F2994A;
}

/* _________________________________HEADER__________________________________ */

header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.header__logo {
  margin-right: 30px;
}
.header__panel {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  flex-grow:1;
}
.header-menu__link {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  line-height: 20px;
  color: #B5B5B5;
  letter-spacing: 2px;
}
.header-menu__item {
  margin-left:10px;
  margin-right: 10px;
}
.header-button {
  width: 112px;
  height: 36px;
  margin-left: 20px;
}

.header-menu__list {
  display:flex;
}
.header__logo {
  margin-right: 30px;
}

/* _________________________FIRST___SECTION______________________________*/

.section-1 {
  height: 92vh;
}

.section-1__img {
  position: absolute;
  top: 24vh;
  right: 0;
  z-index: -1;
  max-width: 50vw;
  padding-left: 2vw;
}
.section-1__info {
  padding-top: 15vh;
  width: 49%;
  max-width: 530px;
  height: 67vh;
}
.section-1__title {
  font-size: 44px;
  line-height: 50px;
}
.section-1__text {
  margin-top: 20px;
  font-size: 18px;
  line-height: 22px;
}
.section-1__button {
  margin-top: 40px;
  margin-right: 20px;
  width: 157px;
  height: 46px;
}
.section-1__video-preview {
  margin-top: 5vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.video-preview__description{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    line-height: 22px;
    margin-left: 20px;
}
.video-preview__text {
    margin-top: 0;
    font-size: 16px;
    color: #8476AA;
}
.video-preview__link {
  font-size: 14px;
  color: #6D6D78;
}
iframe {
  background-image: url("images/video-preview.png");
}

.sponsors {
  height: 25vh;
  position: relative;
}
.sponsors__list {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.sponsors__back-image_left {
  position: absolute;
  left: -16vw;
  top: -1vh;
  opacity: 0.1;
}
.sponsors__back-image_right {
  position: absolute;
  right: -16vw;
  top: -1vh;
  opacity: 0.1;
}
/*_________________SECOND_SECTION______________________*/

.section-2__title {
  font-size: 44px;
  line-height: 50px;
  text-align: center;
}
.section-2__text {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-top: 20px;
}
.feature-item__title{
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #99EFD0;
  font-weight: 700;
}
.feature-item__text {
  font-size: 14px;
  line-height: 22px;
  margin-top: 20px;
}
.feature-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.feature-list__feature-item {
  max-width: 32%;
  margin-top: 5vh;
  display: flex;
  flex-flow: row nowrap;
}
.feature-item__icon-column {
  padding-right: 20px;
}
/*________________THIRD_SECTION_________________________*/
.section-3 {
  height: 78vh;
  display: flex;
  flex-flow: row nowrap;
  align-items:center;
  justify-content: space-around;
}
.section-3__info {
  width: 45%;
  max-width: 530px;
}
.section-3__title {
  font-size: 42px;
  line-height: 50px;
}
.section-3__text {
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.5px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.section-3__button {
  width: 155px;
  height: 48px;
}
/*________________FOURTH_SECTION_________________________*/
.section-4 {
  position: relative;
  text-align: center;
}
.section-4__title {
  font-size: 36px;
  line-height: 42px;
  margin-top: 5vh;
}
.section-4__text {
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.2px;
  margin-top: 32px;
  margin-bottom: 30px;
}
.advantages-list {
  display: flex;
  flex-flow: row nowrap;
  align-items:baseline;
  justify-content:space-around;
}
.advantage-item {
  width: 25vw;
  padding-left: 15px;
  padding-right: 15px;
}
.advantage-item_center {
  width: 35vw;
  padding-left: 15px;
  padding-right: 15px;
}
.section-4__back-img {
  position: absolute;
  left: -16vw;
  top: -43vh;
}
/*________________FIFTH_SECTION_________________________*/
.section-5 {
  text-align: center;
  margin-top: 10vh;
  height: 55vh;
  background-image: url("images/spheres.png");
  background-repeat: no-repeat;
  background-position: bottom;
}
.section-5__title {
  font-size: 42px;
  line-height: 50px;
  margin-top: 5vh;
}
.section-5__button {
  width: 164px;
  height: 54px;
  margin-top: 5vh;
}
/*________________SIXTH_SECTION_________________________*/
.section-6 {
  position:relative;
  height: 57vh;
  display: flex;
  flex-flow: row nowrap;
  align-items:center;
  justify-content: space-around;
}
.section-6__info {
  width: 45%;
  max-width: 530px;
}
.section-6__title {
  font-size: 42px;
  line-height: 50px;
}
.section-6__text {
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.5px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.section-6__button {
  width: 155px;
  height: 54px;
}
.section-6__back-img {
  position: absolute;
  right: -10vw;
  top: 0vh;
  z-index:-1;
}
/*________________SEVENTH_SECTION________________*/
.section-7 {
  padding-top: 10vh;
  padding-bottom: 5vh;
  display: flex;
  flex-flow: row nowrap;
  align-items:center;
  justify-content: space-around;
}
.section-7__info {
  width: 45%;
  max-width: 530px;
}
.section-7__main-title {
  font-size: 26px;
  line-height: 32px;
}
.section-7__title {
  font-size: 15px;
  line-height: 18.15px;
  margin-top: 20px;
}
.section-7__main-text {
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.2px;
  margin-top: 40px;
  margin-bottom: 40px;
  max-width: 25vw;
}
.section-7__text {
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.2px;
  margin-top: 10px;

}
.section-7__features {
  display: flex;
  flex-flow: row nowrap;
  align-items:center;
  justify-content: space-between;
}
.feature-column {
  max-width: 12.5vw;
}
/*________________EIGHTH_SECTION_________________*/
.section-8 {
  position:relative;
}
.follow-block {
  width: 65vw;
  background-color: rgba(25,25,80);
  border-radius: 5px;
  margin-top: 12vh;
  margin-bottom: 5vh;
  margin-right: auto;
  margin-left:auto;
}
.section-8__title {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  padding-top: 50px;
}
.section-8__text {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color:#95A1BB;
  max-width: 28vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding-bottom: 30px;
}
.follow-form {
  height: 53px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-radius: 5px;
}
.follow_input {
  flex-grow:1;
  background-color: rgb(50,49,99);
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color:#95A1BB;
  padding-left: 16px;
  padding-right: 10px;
}
.follow_button {
  width: 128px;
}
.section-8__back-img {
  position: absolute;
  top: 0;
  z-index:-1;
}
/*_________________FOOTER________________________*/
.footer {
  margin-right: 40px;
  margin-left: 40px;
  margin-top: 13vh;
  position: relative;
}
.social {
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.social__list {
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.social__item {
  margin-left: 8px;
  margin-right: 8px;
}
.footer_title {
  font-size: 26px;
  line-height: 32px;
}
.navigation {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  line-height:18.15px;
  letter-spacing: 0.2px;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  color: white;
  margin-top: 10vh;
}
.navigation__title {
  font-weight: 700;
  padding-bottom: 9px;
}
.navigation__item {
  font-weight: 400;
  margin-top: 9px;
  margin-bottom: 9px;
}
.navigation__link {
    color: white;
}
.copyrights {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height:20px;
  letter-spacing: 0.2px;
  height: 28vh;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.copyrights-link {
  color: #8D8D8D;
  padding-right: 16px;
  padding-left: 16px;
}
.footer__back-img {
  position: absolute;
  left: -14vw;
  bottom:0;
  z-index:-1;
}
